.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

li {
  list-style: none;
}

nav {
  width: 100vw;
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navlist {
  display: flex;
  list-style: none;
}

.navitem {
  color: wheat;
  margin: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.book-list-container {
  height: 60vh;
  border: 1px solid grey;
  padding: 10px;
  overflow-y: scroll;
}

.book-list {
  width: 600px;
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 5px 15px;
}

.list-btn {
  background-color: transparent;
  border: none;
  border-right: 1px solid white;
  margin: 2px;
  width: 80px;
  padding-right: 5px;
  color: wheat;
}

.title {
  font-size: 2rem;
}
