.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.book-list-container {
  height: 45vh;
  width: 700px;
  padding: 10px;
  overflow-y: scroll;
}

.book-list {
  background: #fff;
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 5px 15px;
}

.list-btn {
  background-color: transparent;
  border: none;
  border-right: 1px solid grey;
  margin: 2px;
  width: 70px;
  padding-right: 5px;
  color: #4386bf;
  font-size: 0.7rem;
  letter-spacing: 0;
}

.title {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
}

.category {
  color: grey;
  font-weight: bold;
}

.author {
  color: #4386bf;
  font-size: 0.8rem;
}

.progress {
  background: #fff;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 35px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 100%;
}

.percentage {
  font-size: 2rem;
}

.percentage small {
  font-size: 0.8rem;
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current p {
  color: #121212;
  font-size: 0.8rem;
}

.chapter {
  font-size: 1rem;
  letter-spacing: -0.4px;
  color: #121212;
}

.current button {
  background: #0290ff;
  border-radius: 3px;
  border: none;
  color: #fff;
  width: 11rem;
}

.bookform h2 {
  color: #888;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
}

.form-control {
  width: 320px;
}

.bookform button {
  width: 150px;
  height: 2.2rem;
}
